
body {margin:0;padding:0;font-family:"Times New Roman",Times,serif !important;font-size:20px;font-weight:normal;color:#111}
ul{list-style-type:none;padding:0;margin:0;}
a {text-decoration:none;color:#111}
input, select, textarea {font-family:"Times New Roman",Times,serif !important;font-size:20px !important;border:1px solid #ddd !important;outline:none;padding:2px !important;vertical-align:middle;margin:0}
input {height:26px !important;}
input[type="button"] {height:32px !important;padding:2px 10px !important;}
select {height:32px !important;}
textarea {}

.m_ctrl {position:fixed;left:0;top:0;right:0;height:50px;line-height:50px;padding:0 3px;background-color:#fbfbfb;border-bottom:1px solid #f0f0f0;z-index:1}
.m_body {margin-top:51px}

.x_ctrl {position:absolute;left:0;top:0;right:0;height:50px;line-height:50px;padding:0 3px;background-color:#fbfbfb;border-bottom:1px solid #f0f0f0}
.x_body {position:absolute;left:0;top:51px;right:0;bottom:0}

.pxm_ctrl {position:fixed;left:0;top:0;width:100%;line-height:66px;height:66px;background-color:#f1f1f1;border-bottom:1px solid #c1c1c1;z-index:1}
.pxm_ctrl_cont {padding:8px;line-height:50px;height:50px;min-width:900px;}
.pxm_ctrl_cont input[type="text"] {font-size:32px;height:44px;vertical-align:bottom;width:300px;margin-left:30px;}
.pxm_ctrl .ui-button {vertical-align:bottom}
.pxm_body {margin-top:67px;padding:10px;}

.sbutton {border-radius:5px;cursor:pointer;font-size:18px;line-height:24px;text-align:center;width:98px;height:24px;border:1px solid #327e04;background-color:#4C9900;font-weight:bold;color:#ffffff;}
.sbutton:hover {background-color:#56A605}

.pxm_tbl {border-collapse:collapse;font-size:20px;}
.pxm_tbl th, .pxm_tbl td {border:1px solid #b2b2b2;padding:3px;line-height:26px;height:26px;}
.pxm_tbl td {text-align:center;background-color:transparent;}
.pxm_tbl th {background-color:#e6e5e5}
.pxm_tbl tr.alt {background-color:#ffffff}
.pxm_tbl tr.highlight, .pxm_tbl td.highlight {background-color:#ffc3c3}
.pxm_tbl tr:hover {background-color:#daecfd}

.ptable {width:800px;border:1px solid #ddd;overflow:hidden}
.ptable > div {height:30px;line-height:30px;border-bottom:1px solid #ddd;white-space:nowrap}
.ptable > div:hover {background-color:#ffeac6;}
.ptable > div:first-child {background-color:#f5f5f5;font-weight:bold}
.ptable > div:last-child {border-bottom:none;background-color:#f5f5f5}
.ptable > div > div {float:left;height:100%;width:150px;text-align:center}

.xtbl {position:absolute;top:0;bottom:0;right:0;left:0}

.xtbl_row {height:36px;font-size:16px;line-height:36px;border-bottom:1px solid #ddd;background-color:#fff;white-space:nowrap;min-width:840px;}
.xtbl_row > div {float:left;text-align:center;height:100%;white-space:nowrap;overflow:hidden;width:120px;position:relative}
.xtbl_row > div > select {position:absolute;top:2px;left:0;width:100%}
.xtbl_row > div:nth-child(1) {cursor:pointer}

.xtbl_body .xtbl_row:nth-child(even) {background-color:#f9f9f9}
.xtbl_body .xtbl_row:hover {background-color:#ffe7d7}
.xtbl_body {position:absolute;top:37px;bottom:37px;right:0;left:0;overflow:auto;}
.xtbl_header, .xtbl_footer {position:absolute;top:0;left:0;right:0;overflow:hidden}
.xtbl_header > .xtbl_row,.xtbl_footer > .xtbl_row {background-color:#f1f1f1;font-weight:bold;}
.xtbl_header {top:0}
.xtbl_footer {bottom:0;top:auto}
.xtbl_footer > .xtbl_row {border-bottom:none;border-top:1px solid #ddd}


div.xlabel {position:relative;height:32px;line-height:32px;margin:9px 0;}
div.xlabel > div {display:block;position:absolute;top:0;bottom:0;white-space:nowrap}
div.xlabel > div:nth-child(1) {left:0;width:100px;text-align:right;}
div.xlabel > div:nth-child(2) {left:110px;right:0;}

.center_blk {position:fixed;top:50%;left:50%;height:48px;line-height:48px;width:248px;background-color:#e8f8ff;border:1px solid #5bcbff;margin-left:-125px;margin-top:-25px;font-size:32px;font-weight:bold;text-align:center;color:#2f2f2f}




