
body {margin:0;padding:0;background-color:#f9f9f9;font-family:"Times New Roman",Times,serif !important;font-size:20px;font-weight:normal;color:#111}
ul{list-style-type:none;padding:0;margin:0;}
a {text-decoration:none;color:#111}
input[type="text"], input[type="password"], select {font-family:"Times New Roman",Times,serif !important;font-size:20px;font-weight:normal;border:1px solid #ddd;outline:none;padding:2px;}

.pxm_ctrl {position:fixed;left:0;top:0;width:100%;height:66px;background-color:#f1f1f1;border-bottom:1px solid #c1c1c1;z-index:1}
.pxm_ctrl_cont {padding:8px;line-height:50px;height:50px;min-width:900px;}
.pxm_ctrl_cont input[type="text"] {font-size:32px;height:44px;vertical-align:bottom;width:300px;margin-left:30px;}
.pxm_ctrl .ui-button {vertical-align:bottom}
.pxm_body {margin-top:67px;padding:10px;}

.sbutton {border-radius:5px;cursor:pointer;font-size:18px;line-height:24px;text-align:center;width:98px;height:24px;border:1px solid #327e04;background-color:#4C9900;font-weight:bold;color:#ffffff;}
.sbutton:hover {background-color:#56A605}


.pxm_tbl {border-collapse:collapse;font-size:20px;}
.pxm_tbl th, .pxm_tbl td {border:1px solid #b2b2b2;padding:3px;line-height:26px;height:26px;}
.pxm_tbl td {text-align:center;background-color:transparent;}
.pxm_tbl th {background-color:#e6e5e5}
.pxm_tbl tr.alt {background-color:#ffffff}
.pxm_tbl tr.highlight, .pxm_tbl td.highlight {background-color:#ffc3c3}
.pxm_tbl tr:hover {background-color:#daecfd}


