body {background-color:#ddd}
.ui-widget {font-size:18px;}

.labelpaper {margin:30px auto;width:8.5in;height:11in;position:relative;page-break-after:always;background-color:#fff}
.labelpaper > div {position:absolute;width:382px;height:190px;background-color:#b5d888;border-radius:8px;border:1px solid #fff}

.labelpaper > div > div {position:absolute;overflow:hidden;line-height:30px;height:30px;text-align:center;cursor:pointer}
.labelpaper > div > div.item_no {top:5px;left:8px;width:100px;text-align:left;font-weight:bold}
.labelpaper > div > div.item_alu {top:5px;right:8px;width:250px;text-align:right;font-weight:bold}
.labelpaper > div > div.item_divider {top:35px;left:0;right:0;height:0px;border-bottom:3px solid #000}
.labelpaper > div > div.item_price {bottom:5px;left:8px;right:8px;font-weight:bold;font-size:26px}
.labelpaper > div > div.item_desc {height:auto;top:40px;bottom:40px;left:8px;right:8px;font-size:32px;line-height:36px;}
.labelpaper > div > div.item_desc table {width:100%;height:100%;padding:0}
.labelpaper > div > div.item_desc table td {vertical-align:middle}

.labelpaper > div > div.le_elem_multi td {white-space:normal}
.labelpaper > div.label_active {background-color:#9dc3e0}
.labelpaper > div > div.le_elem:hover {background-color:#fff0df}

#le_single,#le_multi {display:block;position:absolute;border:none;background-color:#fff;margin:0 !important;padding:0 !important;top:0;left:0}


@media print {
.labelpaper {margin:0 auto;}
.labelpaper > div {background-color:transparent}
.labelpaper > div {display:none}
.labelpaper > div.label_active {display:block}
}
@page {margin:0}

