<!DOCTYPE html>
<html>
<head>
<script>posx_enable_chk_login = true;</script>
<%include file="header_bs_v1.html" />
<title>POSX - Form</title>
<script type="text/javascript" src="js/angular.min.js"></script>

<script type="text/javascript">
var g_scope = null;

function is_form_dirty() {
    return g_form_wnd[0].contentWindow.is_form_dirty ? g_form_wnd[0].contentWindow.is_form_dirty() : false;
}

function get_form() {
    return g_form_wnd[0].contentWindow.set_form ? g_form_wnd[0].contentWindow.get_form() : null;
}

function set_form(form) {
    g_form_wnd[0].contentWindow.set_form && g_form_wnd[0].contentWindow.set_form(form);
}

function print_form() {
    g_form_wnd[0].contentWindow.print && g_form_wnd[0].contentWindow.print();
}

function load_form(id) {
    g_form_wnd.data('id', id);
    get_js_ex('?fn=get_form_data', {id: id}, function(js) {
        set_form(js.js);
    });
}

function _load_form() {
    load_form( $(this).data('id') );
}

POSX = angular.module('POSX', []);
POSX.controller('mainCtrl', function($scope) {
    g_scope = $scope;
    
    $scope.refresh_list = function() {
        g_form_list.empty();
        
        get_js_ex('?fn=get_form_list', {type: $scope.form.type, kw: $scope.form.kw}, function(js) {
            
            for(var i = 0; i < js.length; i++) {
                var r = js[i];
                g_form_list.append( $('<li class="list-group-item"></li>').text(r.name).data('id', r.id).click(_load_form) );
            }
        }, undefined, undefined, undefined, 'mainCtrl_search');
    
    }

    $scope.form_change = function() {
        g_form_wnd.attr('src', '?fn=get_form&type=' + $scope.form.type);
        g_form_wnd.data('id', 0);
        
        $scope.refresh_list();
    };
    
    $scope.form_new = function() {
        g_form_wnd.data('id', 0);
        set_form({});
    };
    
    $scope.form_delete = function() {
        var id = parseInt(g_form_wnd.data('id'));
        if(!id) return;
        if(!confirm("Delete this?")) return;
        
        post_js_ex('?fn=delete', {id: id}, function(js) {
            $scope.form_new();
            $scope.refresh_list();
        });
        
    };
    
    $scope.form_save = function() {
        var js = {type: $scope.form.type, id: g_form_wnd.data('id'), form: get_form() || {}};
        post_js_ex('?fn=save', {js: JSON.stringify(js)}, function(js) {
            load_form(js.id);
            $scope.refresh_list();
        }, undefined, undefined, null, 'form_save');
        
    };
    
    var srch_to = null;
    $scope.list_search = function() {
        if(srch_to != null) {clearTimeout(srch_to); srch_to == null;}
        srch_to = setTimeout($scope.refresh_list, 300);
    }
    
});

function _autosave() {
    if(g_to_autosave !== null) {clearTimeout(g_to_autosave); g_to_autosave = null;}
    if(is_form_dirty()) g_scope.form_save();
    g_to_autosave = setTimeout(_autosave, 2000);
}

var g_to_autosave = null;
function active_autosave() {
    g_to_autosave = setTimeout(_autosave, 2000);
}

$(function() {

g_form_list = $('#form_list');

g_form_wnd = $('#p_body >iframe');

angular.bootstrap(document, ['POSX']);

$('#form_type').val('1').change();

//active_autosave();

});


</script>

<style>
#p_left {padding:4px 2px;position:absolute;top:0;left:0px;width:280px;bottom:0}
#p_left >div {margin-bottom:4px}
#p_left >:nth-child(3) {position:absolute;top:110px;left:0;right:0;bottom:0;padding:0 2px;cursor:pointer}

#p_top {padding:4px 2px;position:absolute;top:0;left:280px;right:0;height:42px;}

#p_body {position:absolute;top:60px;left:280px;right:0;bottom:0;overflow:hidden}
#p_body >iframe {width:100%;height:100%;margin:0;padding:0;border:none}

#form_list >li {font-weight:bold}

</style>

</head>

<body ng-controller="mainCtrl">

<div id="p_left" class="form-inline">

<div class="input-group input-group-lg">
<span class="input-group-btn"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span></button></span>
<select class="form-control" style="width:220px" ng-model="form.type" id="form_type" ng-change="form_change()">
<option value="">-- Type --</option>
<option value="1">Delivery</option>
</select>
</div>

<div class="input-group input-group-lg">
<span class="input-group-btn"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button></span>
<input type="text" class="form-control" placeholder="" ng-model="form.kw" style="width:220px" ng-change="list_search()" />
</div>

<ul id="form_list"></ul>

</div>

<div id="p_top">
    <button class="btn btn-default btn-lg" ng-click="form_new()">New</button>
    <button class="btn btn-success btn-lg" ng-click="form_save()">Save</button>
    <button class="btn btn-danger btn-lg" ng-click="form_delete()">Delete</button>
    <button class="btn btn-default btn-lg" onclick="print_form()">Print</button>
    <button class="btn btn-warning btn-lg" onclick="go_home()">Quit</button>
</div>

<div id="p_body"><iframe></iframe></div>

</body>

</html>

