<!DOCTYPE html>
<html>
<head>
<script>posx_enable_chk_login = true;</script>
<%include file="header_bs_v1.html" />
<title>POSX - Form</title>
<script type="text/javascript" src="js/angular.min.js"></script>

<script type="text/javascript">
var g_scope = null;

function is_form_dirty() {
    return g_form_wnd[0].contentWindow.is_form_dirty ? g_form_wnd[0].contentWindow.is_form_dirty() : false;
}

function get_form() {
    return g_form_wnd[0].contentWindow.set_form ? g_form_wnd[0].contentWindow.get_form() : null;
}

function set_form(js) {
    g_scope.js = js;
    $('#mainCtrl').scope().$apply();
    
    g_form_wnd[0].contentWindow.set_form && g_form_wnd[0].contentWindow.set_form(js.js || {});
}

function print_form() {
    g_form_wnd[0].contentWindow.print && g_form_wnd[0].contentWindow.print();
}

function load_form(id) {
    g_form_wnd.data('id', id);
    get_js_ex('?fn=get_form_data', {id: id}, function(js) {
        set_form(js);
    });
}

function _load_form() {
    load_form( $(this).data('id') );
}

var FORM_LST_CLS = ['', 'list-group-item-info', 'list-group-item-success', 'list-group-item-warning'];

POSX = angular.module('POSX', []);
POSX.controller('mainCtrl', function($scope) {
    g_scope = $scope;
    
    $scope.refresh_list = function() {
        g_form_list.empty();
        
        
        get_js_ex('?fn=get_form_list', {type: $scope.form.type, kw: $scope.form.kw}, function(ljs) {
            var v_lst = [];
            for(var l = 0; l < ljs.length; l++) {
                var js = ljs[l][1];
                v_lst.push( $('<li class="list-group-item lst_title"></li>').text(ljs[l][0]) );
                for(var i = 0; i < js.length; i++) {
                    var r = js[i];
                    v_lst.push( $('<li class="list-group-item '+(r.dirty_ts ? FORM_LST_CLS[3] : FORM_LST_CLS[r.state])+'"></li>').text(r.name).data('id', r.id).click(_load_form) );
                }
            }
            
            g_form_list.empty().append(v_lst);
            
        }, undefined, undefined, undefined, 'mainCtrl_search');
    
    }

    $scope.form_change = function() {
        g_form_wnd.attr('src', '?fn=get_form&type=' + $scope.form.type);
        g_form_wnd.data('id', 0);
        
        $scope.refresh_list();
    };
    
    $scope.form_new = function() {
        g_form_wnd.data('id', 0);
        setTimeout(function() {set_form({})}, 0);
    };
    
    $scope.form_delete = function() {
        var id = parseInt(g_form_wnd.data('id'));
        if(!id) return;
        if(!confirm("Delete this?")) return;
        
        post_js_ex('?fn=delete', {id: id}, function(js) {
            $scope.form_new();
            $scope.refresh_list();
        });
        
    };
    
    $scope.form_set_state = function() {
        var js = {state: $scope.js.state_s, id: g_form_wnd.data('id')};
        post_js_ex('?fn=set_state', {js: JSON.stringify(js)}, function(js) {
            load_form(js.id);
            $scope.refresh_list();
        }, undefined, undefined, null, 'form_set_state');
        
    };
    
    $scope.form_save = function() {
        var js = {type: $scope.form.type, id: g_form_wnd.data('id'), form: get_form() || {}};
        post_js_ex('?fn=save', {js: JSON.stringify(js)}, function(js) {
            load_form(js.id);
            $scope.refresh_list();
        }, undefined, undefined, null, 'form_save');
        
    };
    
    var srch_to = null;
    $scope.list_search = function() {
        if(srch_to != null) {clearTimeout(srch_to); srch_to == null;}
        srch_to = setTimeout($scope.refresh_list, 300);
    }
    
});

function _autosave() {
    if(g_to_autosave !== null) {clearTimeout(g_to_autosave); g_to_autosave = null;}
    if(is_form_dirty()) g_scope.form_save();
    g_to_autosave = setTimeout(_autosave, 2000);
}

var g_to_autosave = null;
function active_autosave() {
    g_to_autosave = setTimeout(_autosave, 2000);
}

$(function() {

g_form_list = $('#form_list');

g_form_wnd = $('#p_body >iframe');

g_body_hdr = $('#p_body_hdr');

angular.bootstrap(document, ['POSX']);

$('#form_type').val('1').change();

//active_autosave();

});


</script>

<style>
#p_left {padding:4px 2px;position:absolute;top:0;left:0px;width:280px;bottom:0}
#p_left >div {margin-bottom:4px}
#p_left >:nth-child(3) {position:absolute;top:110px;left:0;right:0;bottom:0;padding:0 2px;cursor:pointer}

#p_top {padding:4px 2px;position:absolute;top:0;left:280px;right:0;height:42px;}

#p_body_hdr {position:absolute;top:60px;left:280px;right:0;height:40px;overflow:hidden}
#p_body {position:absolute;top:100px;left:280px;right:0;bottom:0;overflow:hidden}
#p_body >iframe {width:100%;height:100%;margin:0;padding:0;border:none}

#form_list >li {font-weight:bold}

.form_state_1 {color:#5cb85c}
.form_state_2 {color:#337ab7}

.lst_title {text-align:center;font-size:18px;font-weight:bold;color:#fff;font-style:italic;background: -webkit-linear-gradient(top, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%);}

</style>

</head>

<body ng-controller="mainCtrl" id="mainCtrl">

<div id="p_left" class="form-inline">

<div class="input-group input-group-lg">
<div class="input-group-addon"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span></div>
<select class="form-control" style="width:220px" ng-model="form.type" id="form_type" ng-change="form_change()">
<option value="">-- Type --</option>
<option value="1">Delivery</option>
</select>
</div>

<div class="input-group input-group-lg">
<div class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></div>
<input type="text" class="form-control" placeholder="" ng-model="form.kw" style="width:220px" ng-change="list_search()" />
</div>

<ul id="form_list"></ul>

</div>

<div id="p_top">
    <button class="btn btn-default btn-lg" ng-click="form_new()">New</button>
    <button class="btn btn-success btn-lg" ng-click="form_save()">Save</button>
    <button class="btn btn-danger btn-lg" ng-click="form_delete()">Delete</button>
    <button class="btn btn-default btn-lg" onclick="print_form()">Print</button>
    <button class="btn btn-warning btn-lg" onclick="go_home()">Quit</button>
</div>
<div id="p_body_hdr" class="{{js.id ? '' : 'hidden'}}">
<form class="form-inline">
<div class="input-group">
<div class="input-group-addon">State</div>
<select class="form-control" style="width:130px" ng-model="js.state_s">
<option value="0">Pending</option>
<option value="1">Approved</option>
<option value="2">Completed</option>
</select>
<span class="input-group-btn"><button type="button" class="btn btn-primary" ng-click="form_set_state()"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button></span>
</div>
<div class="input-group has-error">
<div class="input-group-addon">Submitted On</div>
<input type="text" class="form-control" style="width:190px" disabled="disabled" ng-model="js.ts_s" />
</div>
<div class="input-group has-success">
<div class="input-group-addon">Ship By</div>
<input type="text" class="form-control" style="width:190px" disabled="disabled" ng-model="js.schedule_ts_s" />
</div>
<div class="input-group has-warning{{js.dirty_ts ? '' : ' hidden'}}">
<div class="input-group-addon">Modified By</div>
<input type="text" class="form-control" style="width:190px" disabled="disabled" ng-model="js.dirty_ts_s" />
</div>
</form>
</div>
<div id="p_body"><iframe></iframe></div>

</body>

</html>

