<!DOCTYPE html>
<html>
<head>
<%include file="../header_bs_v1.html" />
<title>POSX - POS Tool</title>
<script type="text/javascript" src="js/angular.min.js"></script>

<script type="text/javascript">
var g_scope = null;
POSX = angular.module('POSX', []);
POSX.controller('mainCtrl', function($scope) {
    g_scope = $scope;
});

$(function() {
    angular.bootstrap(document, ['POSX']);
    
    
    
    g_v_textarea = $('textarea').on('keyup input', function() {
        $(this).css('height', 'auto').css('height', this.scrollHeight + 2);
        //console.log(this.scrollHeight);
    });
    
    
});

function is_form_dirty() {
    return g_scope && g_scope.curForm ? g_scope.curForm.$dirty : false;
}

function get_form() {
    return $('#mainCtrl').scope().form;
}

function set_form(data) {
    var s = $('#mainCtrl').scope();
    s.form = data;
    s.curForm.$setPristine();
    s.$apply();
    
    g_v_textarea.trigger('keyup');
    
}

</script>

<style>

#mainCtrl {padding:20px 0}
#customer_info .row {margin-bottom:10px}
#customer_sign .row {margin-top:10px}
.label_opts >div {margin-bottom:4px}
textarea {page-break-inside:avoid}
#curForm.ng-dirty .panel-body {background:#f2dede}

textarea {
-moz-box-sizing: border-box;
box-sizing: border-box;
resize: none;
}

</style>

</head>

<body ng-controller="mainCtrl" id="mainCtrl">

<form class="container-fluid"  style="width:900px" id="curForm" name="curForm">


<input type="hidden" ng-model="form.id" />

<div class="panel panel-default">
<div class="panel-heading">Customer Information</div>
<div class="panel-body" id="customer_info">

<div class="row">
<div class="col-xs-12">
<div class="input-group input-group-lg">
<span class="input-group-btn"><button type="button" class="btn btn-primary" disabled="disabled">Business Name</button></span>
<input type="text" class="form-control" placeholder="" ng-model="form.name" required />
</div>
</div>
</div>

<div class="row">
<div class="col-xs-12">
<div class="input-group input-group-lg">
<span class="input-group-btn"><button type="button" class="btn btn-primary" disabled="disabled">Delivery Address</button></span>
<input type="text" class="form-control" placeholder="" ng-model="form.address" />
</div>
</div>
</div>

<div class="row">
<div class="col-xs-6">
<div class="input-group input-group-lg">
<span class="input-group-btn"><button type="button" class="btn btn-primary" disabled="disabled">Contact Name</button></span>
<input type="text" class="form-control" placeholder="" ng-model="form.contact" />
</div>
</div>
<div class="col-xs-6">
<div class="input-group input-group-lg">
<span class="input-group-btn"><button type="button" class="btn btn-primary" disabled="disabled">Alternate Contact</button></span>
<input type="text" class="form-control" placeholder="" ng-model="form.alt_contact" />
</div>
</div>
</div>

<div class="row">
<div class="col-xs-6">
<div class="input-group input-group-lg">
<span class="input-group-btn"><button type="button" class="btn btn-primary" disabled="disabled">Phone #1</button></span>
<input type="text" class="form-control" placeholder="" ng-model="form.phone1" />
</div>
</div>
<div class="col-xs-6">
<div class="input-group input-group-lg">
<span class="input-group-btn"><button type="button" class="btn btn-primary" disabled="disabled">Phone #2</button></span>
<input type="text" class="form-control" placeholder="" ng-model="form.phone2" />
</div>
</div>
</div>

<div class="row">
<div class="col-xs-6">
<div class="input-group input-group-lg">
<span class="input-group-btn"><button type="button" class="btn btn-primary" disabled="disabled">Email</button></span>
<input type="text" class="form-control" placeholder="" ng-model="form.email" />
</div>
</div>
<div class="col-xs-6">
<div class="input-group input-group-lg">
<span class="input-group-btn"><button type="button" class="btn btn-primary" disabled="disabled">Fax</button></span>
<input type="text" class="form-control" placeholder="" ng-model="form.fax" />
</div>
</div>
</div>

</div>
</div>



<div class="panel panel-default">
<div class="panel-heading">Delivery Instructions</div>
<div class="panel-body">


<div class="row">
<div class="col-xs-6"><b>Delivery Date Requested</b></div>
<div class="col-xs-6"><b>Delivery Time Requested</b></div>
</div>

<div class="row">
<div class="col-xs-6">


<div class="col-xs-6"><label><input type="radio" ng-model="form.instruction.date" value="Monday"> Monday</label></div>
<div class="col-xs-6"><label><input type="radio" ng-model="form.instruction.date" value="Thursday"> Thursday</label></div>
<div class="col-xs-6"><label><input type="radio" ng-model="form.instruction.date" value="Tuesday"> Tuesday</label></div>
<div class="col-xs-6"><label><input type="radio" ng-model="form.instruction.date" value="Friday"> Friday</label></div>
<div class="col-xs-6"><label><input type="radio" ng-model="form.instruction.date" value="Wednesday"> Wednesday</label></div>
<div class="col-xs-6"><label><input type="radio" ng-model="form.instruction.date" value="Saturday"> Saturday</label></div>
<div class="col-xs-12"><label><input type="radio" ng-model="form.instruction.date" value="Other"> Other Date: <input type="text" ng-model="form.instruction.Other_Date"></label></div>



</div>

<div class="col-xs-6">

<div class="col-xs-6">Monday – Friday</div>
<div class="col-xs-6"><label><input type="radio" ng-model="form.instruction.time" value="AM"> AM (8AM – 12PM)</label></div>
<div class="col-xs-6"></div>
<div class="col-xs-6"><label><input type="radio" ng-model="form.instruction.time" value="PM"> PM (1PM – 5PM)</label></div>
<div class="col-xs-6"></div>
<div class="col-xs-6">&nbsp;</div>
<div class="col-xs-6">Saturday</div>
<div class="col-xs-6"><label><input type="radio" ng-model="form.instruction.time" value="AMPM"> (8AM – 2PM)</label></div>

</div>
</div>



</div>
<div class="panel-footer">Delivery Service Details</div>
<div class="panel-body label_opts">
    
    
<div>
<label class="checkbox-inline"><input type="checkbox" ng-model="form.service.o1"> Building access for inside delivery: </label>
<label class="checkbox-inline"><input type="checkbox" ng-model="form.service.o2"> Gate </label>&nbsp;
<label class="checkbox-inline"><input type="checkbox" ng-model="form.service.o3"> Locks </label>&nbsp;
<label class="checkbox-inline"><input type="checkbox" ng-model="form.service.o4"> Back elevator </label>&nbsp;
<label class="checkbox-inline"><input type="checkbox" ng-model="form.service.o5"> Others: <input type="text" ng-model="form.service.o5_val"></label>
</div>
<div><label class="checkbox-inline"><input type="checkbox" ng-model="form.service.o6"> Stairs: <input type="text" ng-model="form.service.o6_val"> steps</label></div>
<div><label class="checkbox-inline"><input type="checkbox" ng-model="form.service.o7"> Elevator Access <input type="text" ng-model="form.service.o7_val"></div>
<div><label class="checkbox-inline"><input type="checkbox" ng-model="form.service.o8"> Doorway &amp; hallway is spacious to fit merchandise</div>
<div><label class="checkbox-inline"><input type="checkbox" ng-model="form.service.o9"> Lift over any objects <input type="text" ng-model="form.service.o9_val"></div>
<div><label class="checkbox-inline"><input type="checkbox" ng-model="form.service.oa"> Obstructions to placement location <input type="text" ng-model="form.service.oa_val"></div>
<div><label class="checkbox-inline"><input type="checkbox" ng-model="form.service.ob"> Parking Situation: <input type="text" ng-model="form.service.ob_val"></div>

</div>

<div class="panel-footer">Forest Staff Use Only</div>
<div class="panel-body label_opts">
    
    
<div>
<label class="checkbox-inline"><input type="checkbox" ng-model="form.staff.o1"> Assembly: </label>
<label class="checkbox-inline"><input type="checkbox" ng-model="form.staff.o2"> Casters </label>&nbsp;
<label class="checkbox-inline"><input type="checkbox" ng-model="form.staff.o3"> Uncrate &amp; Unpack </label>&nbsp;
<label class="checkbox-inline"><input type="checkbox" ng-model="form.staff.o5"> $ <input type="text" ng-model="form.staff.o5_val"></label>
</div>
<div>
<label class="checkbox-inline"><input type="checkbox" ng-model="form.staff.o6"> Haul Away &amp; Dumping Fee: </label>
<label class="checkbox-inline"><input type="checkbox" ng-model="form.staff.o7"> $50 </label>&nbsp;
<label class="checkbox-inline"><input type="checkbox" ng-model="form.staff.o8"> $100 </label>&nbsp;
<label class="checkbox-inline"><input type="checkbox" ng-model="form.staff.o9"> $150 </label>&nbsp;
<label class="checkbox-inline"><input type="checkbox" ng-model="form.staff.o10"> $200 </label>&nbsp;
<label class="checkbox-inline"><input type="checkbox" ng-model="form.staff.o11"> $ <input type="text" ng-model="form.staff.o11_val"></label>
</div>
<div>
<label class="checkbox-inline"><input type="checkbox" ng-model="form.staff.a1"> Delivery Charge: </label>
<label class="checkbox-inline"><input type="checkbox" ng-model="form.staff.a2"> $50 </label>&nbsp;
<label class="checkbox-inline"><input type="checkbox" ng-model="form.staff.a3"> $100 </label>&nbsp;
<label class="checkbox-inline"><input type="checkbox" ng-model="form.staff.a4"> $150 </label>&nbsp;
<label class="checkbox-inline"><input type="checkbox" ng-model="form.staff.a5"> $200 </label>&nbsp;
<label class="checkbox-inline"><input type="checkbox" ng-model="form.staff.a6"> $ <input type="text" ng-model="form.staff.a6_val"></label>
</div>
<div>
<label class="checkbox-inline"><input type="checkbox" ng-model="form.staff.b1"> Extra Person Charge: </label>
<label class="checkbox-inline"><input type="checkbox" ng-model="form.staff.b6"> $ <input type="text" ng-model="form.staff.b6_val"></label>
</div>

<div>
<br/>
<b>Total Delivery Charge: $ </b><input type="text" ng-model="form.staff.c6_val">
</div>

<div class="row">
<div class="col-xs-6"><b>Sales Rep: </b><input type="text" ng-model="form.staff.d1_val"></div>
<div class="col-xs-6"><b>Phone: </b><input type="text" ng-model="form.staff.d2_val"></div>
</div>

<div class="form-group">
<label for="Instructions">Other Notes & Instructions:</label>
<textarea class="form-control" rows="5" id="Instructions" ng-model="form.staff.instructions"></textarea>
</div>


</div>

<div class="panel-footer">Delivery Authorization</div>
<div class="panel-body label_opts">
<div><label class="checkbox-inline"><input type="checkbox" ng-model="form.auth.oc"> A responsible adult, 18 years or older, must be present during delivery and review and approve all work completed.</div>
<div><label class="checkbox-inline"><input type="checkbox" ng-model="form.auth.od"> If there is no authorized person during delivery, customer will have to reschedule for the next available date with the Sales Representative.</div>
<div><label class="checkbox-inline"><input type="checkbox" ng-model="form.auth.oe"> Customer must inspect all merchandise at time of delivery and note damages on bill on landing before accepting merchandise.</div>

</div>
<div class="panel-footer">Policy</div>
<div class="panel-body label_opts">
<div><b>For safety reasons:</b></div>
<div><label class="checkbox-inline"><input type="checkbox" ng-model="form.policy.of"> Delivery Team will not move equipment up or down stairs, lift/hoist over counters or where access is limited by dimensional restrictions.</div>
<div><label class="checkbox-inline"><input type="checkbox" ng-model="form.policy.og"> Customer is responsible for removal and reinstallation of all facility doors where necessary</div>
<div><label class="checkbox-inline"><input type="checkbox" ng-model="form.policy.oh"> Delivery does not include installation, set up, or assembly.</div>
<div><label class="checkbox-inline"><input type="checkbox" ng-model="form.policy.oi"> Haul away item must be ready for pick up at time of delivery and scheduled prior with Sales Representative.</div>
<br/>
<div><b>Things to know:</b></div>
<div><label class="checkbox-inline"><input type="checkbox" ng-model="form.policy.oj"> All equipment and furniture sold by Forest are supported by the manufacturer’s warranty and service agreement.</div>
<div><label class="checkbox-inline"><input type="checkbox" ng-model="form.policy.ok"> Please ensure all information is accurate. If delivery team is unable reach contacts during time of delivery, delivery will be rescheduled for the next available date with the Sales Representative.</div>
<div><label class="checkbox-inline"><input type="checkbox" ng-model="form.policy.ol"> To ensure the health and safety of our service providers, we reserve the right to refuse or reschedule work due to unsafe conditions. When merchandise is being hauled away for disposal or if there is any obstructions not reported, any equipment that may require additional personnel to safely remove or deliver, may result in a delay or rescheduling and may result in additional charge.</div>
<div><label class="checkbox-inline"><input type="checkbox" ng-model="form.policy.om"> Deliveries are performed by third party, non-Forest Store employees.</div>

</div>
</div>

<div class="row" id="customer_sign">
<div class="col-xs-12">I declare under penalty of perjury that I understand and agree to the Forest Terms and Conditions stated above.</div>
<div class="col-xs-12">&nbsp;</div>
<div class="col-xs-6">
<div class="input-group input-group-lg">
<span class="input-group-btn"><button type="button" class="btn btn-primary" disabled="disabled">Printed Name</button></span>
<input type="text" class="form-control" placeholder=""  ng-model="form.sign.name" />
</div>
</div>
<div class="col-xs-6">
<div class="input-group input-group-lg">
<span class="input-group-btn"><button type="button" class="btn btn-primary" disabled="disabled">Date</button></span>
<input type="text" class="form-control" placeholder=""  ng-model="form.sign.date" />
</div>
</div>
</div>

</form>

</body>

</html>